@use "global" as *;

body{

    .header{
        margin: 0px 25px;
        padding: 0px;
        text-align: center;
        list-style-type: none;
        font-family:'PT Sans', sans-serif;
        font-size: 22px;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;

            }
    .bienvenida{
        @extend %base-container;
        margin-top: 250px;
        text-align: justify;
    }
    .definicion-suplemento{
        @extend %base-container;
        margin-top: 50px;
        margin-right: 50px;
        text-align: justify;;
            }
    .revisa-tus-productos{
        margin-top: 80px;
        font-family: $font-tittle;
        h3{
            text-align: center;
        }
        .container{
            display: flex;
            justify-content: center;
        }
            img{
                height: 500px;

            }
        }
    .info-cards{
        margin-top: 100px;
        margin-bottom: 100px;
        h5{
            color: $primary-color;
        }
        .btn-primary{
            background-color: $primary-color;
            border: 1px solid $primary-color;

         }
        }

    .plants-image{
            margin-top: 50px;
            display: flex;
            justify-content: center;
                }

        
}

